<!-- Test view -->
<div ng-controller="TestController">
    <h1>New elemnts demo</h1>
    <div class="row">
        <!--------------------------------- Door lock control --------------------------------->
        <div class="col-lg-4 col-md-6 col-sm-6 widget-entry" ng-include="'app/views/_test/doorlockcontrol/doorlockcontrol.html'"></div>
        
        <!--------------------------------- Climate control --------------------------------->
        <div class="col-lg-4 col-md-6 col-sm-6 widget-entry" ng-include="'app/views/_test/climatecontrol/climatecontrol.html'"></div>
        
        <!--------------------------------- Security app --------------------------------->
        <div class="col-lg-4 col-md-6 col-sm-6 widget-entry" ng-include="'app/views/_test/securityapp/securityapp.html'"></div>
        
        <!--------------------------------- Fire protection  --------------------------------->
        <div class="col-lg-4 col-md-6 col-sm-6 widget-entry" ng-include="'app/views/_test/fireprotection/fireprotection.html'"></div>
        
        <!--------------------------------- Leakage protection  --------------------------------->
        <div class="col-lg-4 col-md-6 col-sm-6 widget-entry" ng-include="'app/views/_test/leakageprotection/leakageprotection.html'"></div>
        
    </div><!-- /.row -->

    <!--------------------------------- Modal door lock --------------------------------->
    <div class="modal modal-vertical-centered modal-no-padding fade"
         id="modal_doorlock" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="myModalLabel" 
         aria-hidden="true"
         ng-include="'app/views/_test/doorlockcontrol/modal.html'"></div><!-- /.Modal door lock -->
    
    <!--------------------------------- Modal door lock manage --------------------------------->
    <div class="modal modal-vertical-centered modal-no-padding fade" 
         id="modal_doorlock_manage" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="myModalLabel" 
         aria-hidden="true"
          ng-include="'app/views/_test/doorlockcontrol/modal_manage.html'"></div><!-- /.Modal door lock -->
    
    <!--------------------------------- Modal climate control --------------------------------->
    <div class="modal modal-vertical-centered modal-no-padding fade" 
         id="modal_climate_control" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="myModalLabel" 
         aria-hidden="true"
         ng-include="'app/views/_test/climatecontrol/modal.html'"></div><!-- /.Modal climate -->
         
         
    <!--<div infinite-scroll='loadDevices()' infinite-scroll-distance='2'>
    <img ng-repeat='v in devices' ng-src='http://placehold.it/225x250&text={{$index}}'>
  </div>
    <!--<div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
      <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
    </div>--> 
</div><!-- /ng-controller --> 