<div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" ng-bind="input.title"></h4>
        </div>
        <div class="modal-body ">
            <div class="alert alert-warning" ng-if="!doorLock.data">
                <i class="fa {{doorLock.icon}}"></i> <span ng-bind="doorLock.message"></span>
            </div>

            <div class="multiline-entry" ng-if="doorLock.data">
                <table class="table table-report table-condensed">
                    <tbody>
                        <tr class="bcg-success {{n.success}}" ng-repeat="n in doorLock.data.metrics.events| orderBy: '-updateTime'">
                            <td class="td-img">
                                <img class="report-img" ng-src="storage/img/icons/lock-{{n.level}}.png" alt="img" />
                            </td>
                            <td>
                                <strong ng-if="!n.success">not</strong> <strong ng-bind="n.level"></strong> <span ng-if="n.user">by {{n.user}}</span>
                            </td>
                            <td class="text-left">
                                <i class="fa fa-clock-o"></i> <span ng-bind="n.updateTime|isToday:true:_t('lb_days'):_t('lb_yesterday')"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Manage -->
                <div class="submit-entry">
                    <button class="btn btn-default" ng-click="loadDoorLockManage('#modal_doorlock_manage', v.id, v)"><i class="fa fa-wrench"></i> {{_t('manage')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>