/*-------------------------------------*/
// COLORS

// Base
$app-brand-primary:         #6494BC !default;
$app-brand-success:         #80AD80 !default;
$app-brand-info:            #5bc0de !default;
$app-brand-warning:         #f0ad4e !default;
$app-brand-danger:          #d9534f !default;

$header-bcg-color:  $app-brand-primary;
$header-a-color: #FFFFFF;
$app-border-color: $app-brand-primary;
